@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><b>Project Timesheet Application</b></p>
    <img src="https://www.bluecamroo.com/content/images/Steps%20in%20Project%20Management%20Process.jpg" width="800" height="400" />
</div>
